
.ray{
	display: flex;
}
.open{

	font-size: 200px;
	max-width: 500px;
	margin: 0 auto;
	background: rgb(112, 228, 112);
	

}
.open:hover{
	background: #9fff82;
}
.close{
	display:flex;
	font-size: 200px;
	max-width: 500px;
	margin: 0 auto;
	background: rgb(255, 41, 41);

}
.close:hover{
	background: #ff8282;
}
.bob{
	width: 100%;
	aspect-ratio: 16/9;

}
.happy{
	font-size: 200px;
	
	max-width: 500px;
margin: 10px;
}